{% extends "tool_base.html" %}
{% load static %}

{% block head %}
	<head>
        	<link rel="stylesheet" href="{% static "usc_style.css" %}"/>
		<title>Unique Sequence Finder</title>
	</head>
{% endblock %}
	
{% block content %}        
	<div id="header">
            <div id="line"><h2 id="title">Unique Sequence Finder</h2></div>
        </div>

        <div id="content">
    		<form enctype="multipart/form-data" id="mainForm" name="mainForm" method="post" action="results/">
                	{% csrf_token %}
			<p class="formitem">This tool identifies unique and identical DNA and amino acid sequences.</p>
        		<p class="formitem">To use this tool, please insert text or upload a file with unaligned sequence data in the <b>fasta</b> format.<br>An email will be sent to the given address with results as an excel document.</p>
			<f>(Note: DNA sequences will be converted to uppercase.)</f>
			<br>

			<input class="formitem" name="file" type="file" style="width: 18em;">  <!-- This is the element that uploads the file -->

    			<textarea id="fastaInputArea" name="fastaInputArea" wrap="off" placeholder="Enter DNA sequences here.  Please use fasta format."></textarea>
                
			<div class="formitem">
    				<label for="emailAddress">Email address : </label>
    				<input type="text" name="emailAddress" id="emailAddress" placeholder="person@email.com" style="width: 12em;">
    			</div>

                	<div class="formitem">
    			    <input id="formSubmit" type="submit" name="submitBtn" value="Calculate">
    			</div>

    		</form>
        </div>
{% endblock %}
